@font-face {
  font-family: 'Spartan-Regular';
  src: url(../policies/Spartan/static/Spartan-Regular.ttf);
}

@font-face {
  font-family: 'Spartan-Bold';
  src: url(../policies/Spartan/static/Spartan-Bold.ttf);
}

@font-face {
  font-family: 'Antonio-Medium';
  src: url(../policies/Antonio/static/Antonio-Medium.ttf);
}

.hidden {
  visibility: hidden;
  display: none;
}

.planetIndex {
  visibility: hidden;
  display: none;
}

.Mercury {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #419EBB;
  background-color: #419EBB;
}

.Mercury:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Mercury {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #419EBB;
    min-width: 25%;
    max-width: 25%;
  }
}

.Mercury .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Mercury .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Venus {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #EDA249;
  background-color: #EDA249;
}

.Venus:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Venus {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #EDA249;
    min-width: 25%;
    max-width: 25%;
  }
}

.Venus .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Venus .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Earth {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #6D2ED5;
  background-color: #6D2ED5;
}

.Earth:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Earth {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #6D2ED5;
    min-width: 25%;
    max-width: 25%;
  }
}

.Earth .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Earth .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Mars {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #D14C32;
  background-color: #D14C32;
}

.Mars:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Mars {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #D14C32;
    min-width: 25%;
    max-width: 25%;
  }
}

.Mars .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Mars .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Jupiter {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #D83A34;
  background-color: #D83A34;
}

.Jupiter:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Jupiter {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #D83A34;
    min-width: 25%;
    max-width: 25%;
  }
}

.Jupiter .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Jupiter .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Saturn {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #CD5120;
  background-color: #CD5120;
}

.Saturn:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Saturn {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #CD5120;
    min-width: 25%;
    max-width: 25%;
  }
}

.Saturn .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Saturn .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Uranus {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #1EC1A2;
  background-color: #1EC1A2;
}

.Uranus:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Uranus {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #1EC1A2;
    min-width: 25%;
    max-width: 25%;
  }
}

.Uranus .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Uranus .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

.Neptune {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
  border-color: #2D68F0;
  background-color: #2D68F0;
}

.Neptune:hover {
  cursor: default;
}

@media (max-width: 768px) {
  .Neptune {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 33.3%;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1.5rem;
    background-color: #070724;
    border-bottom: 0.3rem solid #2D68F0;
    min-width: 25%;
    max-width: 25%;
  }
}

.Neptune .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .Neptune .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Spartan-Regular', sans-serif;
  font-size: 1.4rem;
  background-color: #070724;
  color: white;
  background-color: #070724;
  background-image: url(../assets/background-stars.svg);
}

main {
  min-width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: #97979736 solid 0.1rem;
}

@media (max-width: 1240px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav h1 {
  margin-left: 2rem;
  font-family: 'Antonio-Medium', sans-serif;
  font-size: 2.8rem;
  margin-top: 1.5rem;
  font-weight: lighter;
}

nav i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  visibility: hidden;
  display: none;
  color: white;
  width: 5rem;
  height: 5rem;
}

@media (max-width: 768px) {
  nav i {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 1.75rem;
  }
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 1240px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  nav ul {
    visibility: hidden;
    display: none;
  }
}

nav ul li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.planetDescription {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 70%;
  max-width: 70%;
  margin-top: 8rem;
}

@media (max-width: 1240px) {
  .planetDescription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .planetDescription {
    display: -ms-grid;
    display: grid;
    min-width: 100%;
    max-width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 15% 42.5% 42.5%;
        grid-template-rows: 15% 42.5% 42.5%;
        grid-template-areas: " buttons " " planetImg " " description ";
  }
}

.planetDescription__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  max-width: 60%;
  min-width: 60%;
  margin-top: -10rem;
  margin-right: 2rem;
}

@media (max-width: 1240px) {
  .planetDescription__img {
    margin-top: 0rem;
    margin-bottom: 5rem;
    min-width: 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .planetDescription__img {
    grid-area: planetImg;
  }
}

.planetDescription__img .mainImage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 40rem;
  max-height: 40rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .planetDescription__img .mainImage {
    max-width: 25rem;
    max-height: 25rem;
  }
}

.planetDescription__img .surfaceImage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  position: relative;
  bottom: 10rem;
  max-width: 15rem;
  max-height: 15rem;
}

.planetDescription__text {
  max-width: 40%;
  min-width: 40%;
}

@media (max-width: 1240px) {
  .planetDescription__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
    min-width: none;
    min-width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .planetDescription__text {
    grid-area: description;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    margin-top: 5rem;
  }
}

.planetDescription__text h2 {
  font-size: 8rem;
  font-family: 'Antonio-Medium', sans-serif;
  font-weight: lighter;
  margin-bottom: 3rem;
  margin-top: 0rem;
}

@media (max-width: 768px) {
  .planetDescription__text h2 {
    font-size: 4rem;
  }
}

.planetDescription__text p {
  max-width: 35rem;
  line-height: 2.5rem;
}

@media (max-width: 768px) {
  .planetDescription__text p {
    max-width: 30rem;
    font-size: 1.2rem;
  }
}

.planetDescription__text .source {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #838391;
  font-family: 'Spartan-Regular', sans-serif;
}

.planetDescription__text .source a {
  color: #838391;
  font-family: 'Spartan-Bold', sans-serif;
}

.planetDescription__text .source i {
  color: #838391;
  margin-left: 1rem;
  position: relative;
  top: 0rem;
}

.planetDescription__text .planetStates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

@media (max-width: 1240px) {
  .planetDescription__text .planetStates {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    top: 9rem;
  }
}

@media (max-width: 768px) {
  .planetDescription__text .planetStates {
    grid-area: buttons;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 7.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-bottom: 0.1rem solid #2D1128;
  }
}

.planetDescription__text .planetStates .buttonOverview, .planetDescription__text .planetStates .buttonStructure, .planetDescription__text .planetStates .buttonSurface {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Spartan-bold', sans-serif;
  font-size: 1.2rem;
  background-color: #070724;
  color: white;
  border-style: none;
  padding: 2rem;
  border: 0.1rem solid #419EBB;
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
}

.planetDescription__text .planetStates .buttonOverview:hover, .planetDescription__text .planetStates .buttonStructure:hover, .planetDescription__text .planetStates .buttonSurface:hover {
  cursor: pointer;
  background-color: #d8d8d830;
}

@media (max-width: 768px) {
  .planetDescription__text .planetStates .buttonOverview, .planetDescription__text .planetStates .buttonStructure, .planetDescription__text .planetStates .buttonSurface {
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding: 1rem;
    min-width: 25%;
    max-width: 25%;
    padding-top: 2rem;
    margin-bottom: 0rem;
  }
}

.planetDescription__text .planetStates .buttonOverview .buttonNumber, .planetDescription__text .planetStates .buttonStructure .buttonNumber, .planetDescription__text .planetStates .buttonSurface .buttonNumber {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .planetDescription__text .planetStates .buttonOverview .buttonNumber, .planetDescription__text .planetStates .buttonStructure .buttonNumber, .planetDescription__text .planetStates .buttonSurface .buttonNumber {
    display: none;
    visibility: hidden;
  }
}

footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70%;
  min-width: 70%;
}

@media (max-width: 1240px) {
  footer {
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }
}

footer .planetNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20%;
  max-width: 20%;
  border: 0.1rem solid #419EBB;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 1240px) {
  footer .planetNumbers {
    padding-top: 1rem;
    padding-left: 0.75rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  footer .planetNumbers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 2rem;
  }
}

footer .planetNumbers__title {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Spartan-Bold', sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

@media (max-width: 1240px) {
  footer .planetNumbers__title {
    font-size: 0.5rem;
  }
}

@media (max-width: 768px) {
  footer .planetNumbers__title {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 0.8rem;
  }
}

footer .planetNumbers__number {
  font-family: 'Antonio-Medium', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}

@media (max-width: 1240px) {
  footer .planetNumbers__number {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  footer .planetNumbers__number {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */