@font-face {
    font-family: 'Spartan-Regular';
    src: url(../policies/Spartan/static/Spartan-Regular.ttf);
}
@font-face {
    font-family: 'Spartan-Bold';
    src: url(../policies/Spartan/static/Spartan-Bold.ttf);
}
@font-face {
    font-family: 'Antonio-Medium';
    src: url(../policies/Antonio/static/Antonio-Medium.ttf);
}

// custom planets colors //

$mercury_color: #419EBB;
$venus_color: #EDA249;
$earth_color: #6D2ED5;
$mars_color: #D14C32;
$jupiter_color: #D83A34;
$saturn_color: #CD5120;
$uranus_color: #1EC1A2;
$neptune_color: #2D68F0;

// custom classes //
.hidden {
    visibility: hidden;
    display: none;
}
.planetIndex {
    visibility: hidden;
    display: none;
}

.Mercury {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $mercury_color;
    background-color: $mercury_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $mercury_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Venus {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $venus_color;
    background-color: $venus_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $venus_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Earth {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $earth_color;
    background-color: $earth_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        padding-left: 1rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $earth_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Mars {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $mars_color;
    background-color: $mars_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $mars_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Jupiter {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $jupiter_color;
    background-color: $jupiter_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $jupiter_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Saturn {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $saturn_color;
    background-color: $saturn_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $saturn_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Uranus {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $uranus_color;
    background-color: $uranus_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $uranus_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}
.Neptune {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Spartan-bold', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    color: white;
    border-style: none;
    padding: 2rem;
    border: 0.1rem solid #419EBB;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    border-color: $neptune_color;
    background-color: $neptune_color;
    &:hover {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 0.9rem;
        text-align: center;
        border: none;
        padding: 1rem;
        min-width: 33.3%;
        padding-top: 2rem;
        margin-bottom: 0rem;
        padding-bottom: 1.5rem;
        background-color: #070724;
        border-bottom: 0.3rem solid $neptune_color;
        min-width: 25%;
        max-width: 25%;
    }
    .buttonNumber {
        color: rgba(255, 255, 255, 0.5);
        margin-right: 2rem;
        font-weight: lighter;
        @media (max-width: 768px) {
            display: none;
            visibility: hidden;
        }
    }
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Spartan-Regular', sans-serif;
    font-size: 1.4rem;
    background-color: #070724;
    color: white;
    background-color: #070724;
    background-image: url(../assets/background-stars.svg);
}
main {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: #97979736 solid 0.1rem;
    @media (max-width: 1240px) {
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-left: 2rem;
        font-family: 'Antonio-Medium', sans-serif;
        font-size: 2.8rem;
        margin-top: 1.5rem;
        font-weight: lighter;
    }
    i {
        align-self: center;
        visibility: hidden;
        display: none;
        color: white;
        width: 5rem;
        height: 5rem;
        @media (max-width: 768px) {
            visibility: visible;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 1.75rem;
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        margin-right: 2rem;
        @media (max-width: 1240px) {
            display: flex;
            justify-content: center;
        }
        @media (max-width: 768px) {
            visibility: hidden;
            display: none;
        }
        li {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            &:hover {
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.planetDescription {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 70%;
    max-width: 70%;
    margin-top: 8rem;
    @media (max-width: 1240px) {
        flex-direction: column;
        min-width: 90%;
        max-width: 90%;
    }
    @media (max-width: 768px) {
        display: grid;
        min-width: 100%;
        max-width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 15% 42.5% 42.5%;
        grid-template-areas: 
        " buttons "
        " planetImg "
        " description "
        ;
    }
    &__img {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
        min-width: 60%;
        margin-top: -10rem;
        margin-right: 2rem;
        @media (max-width: 1240px) {
            margin-top: 0rem;
            margin-bottom: 5rem;
            min-width: 100%;
            max-width: 100%;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 768px) {
            grid-area: planetImg;
        }
        .mainImage {
            align-self: center;
            max-width: 40rem;
            max-height: 40rem;
            padding: 0;
            margin: 0;
            @media (max-width: 768px) {
                max-width: 25rem;
                max-height: 25rem;
            }
        }
        .surfaceImage {
            align-self: center;
            z-index: 1;
            position: relative;
            bottom: 10rem;
            max-width: 15rem;
            max-height: 15rem;
        }
    }
    &__text {
        max-width: 40%;
        min-width: 40%;
        @media (max-width: 1240px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: none;
            min-width: none;
            min-width: 90%;
            max-width: 90%;
        }
        @media (max-width: 768px) {
            grid-area: description;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 100%;
            max-width: 100%;
            margin-top: 5rem;
        }
        h2 {
            font-size: 8rem;
            font-family: 'Antonio-Medium', sans-serif;
            font-weight: lighter;
            margin-bottom: 3rem;
            margin-top: 0rem;
            @media (max-width: 768px) {
                font-size: 4rem;
            }
        }
        p {
            max-width: 35rem;
            line-height: 2.5rem;
            @media (max-width: 768px) {
                max-width: 30rem;
                font-size: 1.2rem;
            }
        }
        .source {
            align-items: center;
            color: #838391;
            font-family: 'Spartan-Regular', sans-serif;
            a {
                color: #838391;
                font-family: 'Spartan-Bold', sans-serif;
            }
            i {
                color: #838391;
                margin-left: 1rem;
                position: relative;
                top: 0rem;
            }
        }
        .planetStates {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            @media (max-width: 1240px) {
                align-self: flex-start;
                position: relative;
                top: 9rem;
            }
            @media (max-width: 768px) {
                grid-area: buttons;
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                top: 7.5rem;
                left: 50%;
                transform: translateX(-50%);
                align-self: center;
                margin: 0;
                width: 100%;
                max-width: 100%;
                border-bottom: 0.1rem solid #2D1128;
            }
            .buttonOverview, .buttonStructure, .buttonSurface {
                text-align: left;
                text-transform: uppercase;
                font-family: 'Spartan-bold', sans-serif;
                font-size: 1.2rem;
                background-color: #070724;
                color: white;
                border-style: none;
                padding: 2rem;
                border: 0.1rem solid #419EBB;
                margin-bottom: 1.5rem;
                letter-spacing: 0.25rem;
                &:hover {
                    cursor: pointer;
                    background-color: #d8d8d830;
                }
                @media (max-width: 768px) {
                    font-size: 0.9rem;
                    text-align: center;
                    border: none;
                    padding: 1rem;
                    min-width: 25%;
                    max-width: 25%;
                    padding-top: 2rem;
                    margin-bottom: 0rem;
                }
                .buttonNumber {
                    color: rgba(255, 255, 255, 0.5);
                    margin-right: 2rem;
                    font-weight: lighter;
                    @media (max-width: 768px) {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    max-width: 70%;
    min-width: 70%;
    @media (max-width: 1240px) {
        margin-top: 10rem;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
    }
    .planetNumbers {
        display: flex;
        flex-direction: column;
        min-width: 20%;
        max-width: 20%;
        border: 0.1rem solid #419EBB;
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-bottom: 2rem;
        @media (max-width: 1240px) {
            padding-top: 1rem;
            padding-left: 0.75rem;
            padding-bottom: 1rem;
            }
        @media (max-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            min-width: 80%;
            max-width: 80%;
            margin-bottom: 2rem;
        }
        &__title {
            color: rgba(255, 255, 255, 0.5);
            font-family: 'Spartan-Bold', sans-serif;
            font-size: 1.1rem;
            font-weight: lighter;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            @media (max-width: 1240px) {
                font-size: 0.5rem;
            }
            @media (max-width: 768px) {
                text-align: center;
                align-self: center;
                font-size: 0.8rem;
            }
        }
        &__number {
            font-family: 'Antonio-Medium', sans-serif;
            font-size: 4rem;
            text-transform: uppercase;
            @media (max-width: 1240px) {
                font-size: 1.6rem;
            }
            @media (max-width: 768px) {
                text-align: center;
                align-self: center;
                font-size: 1.4rem;
                margin-right: 1rem;
            }
        }
    }
}